/tests           export-ignore
/.github         export-ignore
phpunit.xml      export-ignore
.gitignore       export-ignore
.styleci.yml     export-ignore
.gitattributes   export-ignore
.scrutinizer.yml export-ignore
